<div class="contentSelectoStat">
  <pts-stat
    [statName]="'Force'"
    [pointDispo]="totalPoints"
    (pointDispoChange)="updateTotalPoints($event)"
    (statValueChange)="updateStatValue($event, 'force')"
  ></pts-stat>
  <pts-stat
    [statName]="'Dexterité'"
    [pointDispo]="totalPoints"
    (pointDispoChange)="updateTotalPoints($event)"
    (statValueChange)="updateStatValue($event, 'dexterite')"
  ></pts-stat>
  <pts-stat
    [statName]="'Constitution'"
    [pointDispo]="totalPoints"
    (pointDispoChange)="updateTotalPoints($event)"
    (statValueChange)="updateStatValue($event, 'constitution')"
  ></pts-stat>
  <pts-stat
    [statName]="'Intelligence'"
    [pointDispo]="totalPoints"
    (pointDispoChange)="updateTotalPoints($event)"
    (statValueChange)="updateStatValue($event, 'intelligence')"
  ></pts-stat>
  <pts-stat
    [statName]="'Sagesse'"
    [pointDispo]="totalPoints"
    (pointDispoChange)="updateTotalPoints($event)"
    (statValueChange)="updateStatValue($event, 'sagesse')"
  ></pts-stat>
  <pts-stat
    [statName]="'Charisme'"
    [pointDispo]="totalPoints"
    (pointDispoChange)="updateTotalPoints($event)"
    (statValueChange)="updateStatValue($event, 'charisme')"
  ></pts-stat>
</div>

<button (click)="validate()" >
  valider
</button>
 
<h2>
  {{ totalPoints }}/27
</h2>
